<ul class="track-name-artist">
  <li><i class="fa fa-repeat"></i></li>
  <li><p class="artist">{{model.user.username}}</p></li>
  <li><p class="title">{{model.title}}</p></li>
  <li><i class="fa fa-volume-up"></i></li>
</ul>
