<ul class="track-name-artist">
  <li><i class="fa fa-repeat"></i></li>
  <li>
    <a href="https://soundcloud.com/thechainsmokers" class="artist">{{model.user.username}}</a>
  </li>
  <li>
    <a href="https://soundcloud.com/thechainsmokers/sway-the-chainsmokers-remix" class="title"><strong>{{model.title}}</strong></a>
  </li>
  <li><i class="fa fa-volume-up"></i></li>
</ul>
