$box-sizing: true;
$gutter: 0em;

@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";

.music-container {
  @include outer-container(1080px);
  background-color: #fff;
  height: 300px;
  margin: 5em auto;
}

  .main-playback {
    height: 200px;
  }

  .play-music {
    @include span-columns(4 of 12);
    @include omega;
    background-color: #fff;
    height: 200px;
    display: inline-block;
    border: 1px solid grey;
    border-right: none;
  }

    .artwork-img {
      max-height: 100%;
      max-width: 100%;
      margin: 2em 5em;
    }

    .title-artist {
      @include span-columns(8 of 12);
      @include omega;
      background-color: #fff;
      height: 100px;
      display: inline-block;
      border: 1px solid grey;
    }

    .song-scrubber {
      @include span-columns(8 of 12);
      @include omega;
      background-color: #fff;
      height: 100px;
      display: inline-block;
      border: 1px solid grey;
      border-top: none;
    }

    .track-details {
      @include span-columns(12);
      @include omega;
      background-color: #fff;
      height: 100px;
      border: 1px solid grey;
      border-top: none;
    }

    .track-stats,
    .track-name-artist {
      list-style: none;
      margin: 0 auto;
      padding-left: 0;
    }

    .track-stats li,
    .track-name-artist li {
      display: inline-block;
      padding-left: 7em;
    }
