<section class="music-container">
  <section class="main-playback">
    <section class="play-music"></section>
    <section class="title-artist"></section>
    <section class="scrubber"></section>
    <section class="track-details"></section>
  </section>
</section>

{{outlet}}
